<h2>Welcome to Sima's app, have fun</h2>
<div class="navBar">

  <a href="http://localhost:4200/GroupCreate"><button id = "groupCreate">Create Group</button></a>
  <a><button (click)="changePassword()" id="changePassword">Change Password</button></a>
  <a href="http://localhost:4200/getCurrentUser"><button id = "myProfile">My profile</button></a>
  <a><button (click)="LogOut()" id="Logout">Logout</button></a>

</div>
<form [formGroup]="formPost" (ngSubmit)="onSubmit()">
<div  class="container">
  <label class = "postTextLabel"  style="color: white; text-align: center;">Post Text : </label>
  <input type="text" formControlName="post"  name="post" id="postText" required>
  <br>
  <label class = "postTextLabel"  style="color: white; text-align: center;">Destination : </label>
  <select formControlName="groupList" name="groupList" id = "groupList">
    <option [ngValue]="null" readonly disabled >Choose where you want to post: </option>
    <option [ngValue]="0"> Personal/My profile </option>
    <option *ngFor ="let onegroup of allGroups" [ngValue] = "onegroup.id">{{onegroup.name}}  </option>
  </select>
  </div>
  <br>
  <div class="buttonContainer">
    <button type="submit" id="postSubmit">Post</button>
  </div>
  <br>

</form>
<br>
<br>
<br>
<br>
<h4>Search posts</h4>
<!-- Search Bar for Posts -->
<div class="search-container">
  <p>SIMPLE SEARCH FOR POSTS</p>
  <input type="text" [(ngModel)]="searchKeyword" placeholder="Search posts">
  <button class="btn" (click)="onSearch()">Search</button>
</div>

<!-- Display posts only if search has been done -->
<div *ngIf="b === 1 && allPosts.length > 0">
  <div *ngFor="let post of allPosts">
    <div>
      <p>Post Content (English): {{ post.contentEn }}</p>
      <p>Creation Date: {{ post.creationDate | date:'short' }}</p> <!-- Format the date if needed -->
      <p>Like Number: {{ post.likeNumber }}</p>
      <p>Title: {{ post.title || 'No Title' }}</p> <!-- Fallback in case title is null -->
    </div>
  </div>
</div>

<!-- Display a message if no posts found -->
<div *ngIf="b === 1 && allPosts.length === 0">
  <p>No posts found.</p>
</div>
<h4>Feed</h4>
<app-all-posts [posts]="allFeedPosts">
</app-all-posts>


