.btn {
  background-color: white;
  color: black;
  border: 1px solid black;
  padding: 5px 10px;
  margin: 5px;
  cursor: pointer;
}

.delete-btn {
  background-color: black;
  color: white;
}

.edit-btn {
  background-color: black;
  color: white;
}

.buttonContainer {
  background-color: black; /* Black background */
  color: white; /* White text color */
  padding: 5px; /* Adjust padding as needed */
  width: 9%; /* Adjust width as needed */
  border-radius: 5px; /* Optional: Rounded corners */
}
.buttonContainer a {
  color: white; /* White text color for the link */
  text-decoration: none; /* Remove underline from the link */
}
