<div *ngIf="b == 1" class="black-and-white-theme centered-container">
  <form [formGroup]="forma" (ngSubmit)="onSubmit()">
    <input type="hidden" formControlName="id" [value]="post.id" name="id"><br><br>
    <label>Group Description:</label>
    <input type="text" formControlName="Description" [value]="post.description" name="text"><br><br>
    <label>Group Name:</label>
    <input type="text" formControlName="name" [value]="post.name" name="text"><br><br>
    <input type="submit" value="Save">
  </form>
  <button (click)="back()">Go Back</button>
</div>
