<p  *ngIf="a == 1" class="alert alert-success" >Old Passwords dont match</p>

<form [formGroup]="forma" (ngSubmit)="onSubmit()">

  <h3>New Password</h3>
  <input  formControlName="NewPassword" type="password"  placeholder="" required>
  <br>
  <h3>Old Password</h3>
  <input formControlName="oldPassword1"   placeholder="" required type="text">
  <br>
  <h3>Repeat Old Password</h3>
  <input formControlName="oldPassword2"   placeholder="" required type="text">
<br>
  <input type="submit" value="Change Password" />

  <button color="primary" (click)="back()" >Go Back</button>
</form>
<br>


<br>

